body {
    background-color: #1e90ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4% 0%;
}

.header {
    padding: 0;
    background-color: #1e90ff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-size: cover;
}

header a {
    color: white;
    text-decoration: none;
}

.navigation ul li {
    display: inline-block;
    color: white;
}

.navigation ul li a {
    padding: 1rem;
    transition: all 0.4s linear;
    border-radius: 1px;
}

.navigation ul li a:hover {
    background: white;
    color: black;
}

.card {
    width: 400px;
    height: 460px;
    box-shadow: 0 2px 2px rgba(56, 40, 40, 0.2);
    margin: 5px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

section .card {
    width: 500px;
    height: 150px;
    box-shadow: 0 2px 2px rgba(56, 40, 40, 0.2);
    margin: 5px;
    background-color: white;
    float: left;
}

aside {
    display: inline-flex;
    width: 20%;
    min-height: 100%;
    float: right;
}

table {
    table-layout: absolute;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
}

th,
td {
    padding: 20px;
}

tbody tr td {
    text-align: center;
}